<nav
  class="navbar sticky-top navbar-light bg-light justify-content-between navbarShadow"
>
  <a class="navbar-brand">< </a>
  <div class="form-inline d-flex m-1 align-items-center">
    <div style="height: 35px"></div>
    <div class="d-flex align-items-center">
      <div>
        <img
          src="https://png.pngtree.com/png-vector/20190625/ourlarge/pngtree-business-male-user-avatar-vector-png-image_1511454.jpg"
          class="userAvatar"
        />
      </div>
      <div>
        Abdesselam <i class="bi bi-caret-down-fill m-2 activePicto"></i>
      </div>
    </div>
  </div>
</nav>
